.currency-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    width: 450px;
    height: 200px;
    border: 1px solid black;
}

.amount {
    width: 100px;
    height: 25px;
    margin-right: 10px;
}

.from-currency-option {
    width: 60px;
    height: 30px;
    margin-right: 10px;
}

.to-currency-option {
    width: 60px;
    height: 30px;
    margin-right: 10px;
}

.result {
    width: 100px;
    height: 25px;
}

.exchange-button {
    margin-top: 15px;
    width: 90px;
    height: 40px;
    background-color: rgb(64, 93, 236);
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}